# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
properties/local.ini
secrets/local.ini

# Pycharm
.idea
.mypy_cache
.ruff_cache
